<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Slab&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/static/app.css">
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="card">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for category,msg in get_flashed_messages(with_categories=true) %}
                    <p class={{category}}>{{msg}}</p>
                {% endfor %} 
            {% endif %}
        {% endwith %}

        <h1>{% block heading %}{% endblock %}</h1>

        {% block main %}{% endblock %}
        </div>

        {% block form %}{% endblock %}
    </div>

</body>
</html>