{% extends 'base.html' %}

{% block title %}End of Survey{% endblock %}

{% block heading %}You have completed the survey.{% endblock %}

{% block main %}

    <div class="main_text">
    Thank you!
    </div>

    <ul>
    {% for num in range(questions|length) %}
        <li>
            <strong>{{questions[num].question}}</strong>
            {{session["responses"][num]}}   
            {% if session["comments"][num] %}
            <em>{{session["comments"][num]}}</em>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

{% endblock %}
